<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{comerciales.detalle.titulo}">Detalle Comercial</title>
</head>
<body>
<div style="margin: 0 auto; width: 50%; text-align: center;">
    <h1 th:text="#{comerciales.detalle.titulo}">Detalle Comercial</h1>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <tr>
            <th style="text-align: left;" th:text="#{comerciales.tabla.id}">Id:</th>
            <td th:text="${comercial.id}">0</td>
        </tr>
        <tr>
            <th style="text-align: left;" th:text="#{comerciales.tabla.nombre}">Nombre:</th>
            <td th:text="${comercial.nombre}">Nombre</td>
        </tr>
        <tr>
            <th style="text-align: left;" th:text="#{comerciales.tabla.apellido1}">Apellido 1:</th>
            <td th:text="${comercial.apellido1}">Apellido 1</td>
        </tr>
        <tr>
            <th style="text-align: left;" th:text="#{comerciales.tabla.apellido2}">Apellido 2:</th>
            <td th:text="${comercial.apellido2 ?: ''}">Apellido 2</td>
        </tr>
        <tr>
            <th style="text-align: left;" th:text="#{comerciales.tabla.comision}">Comisión:</th>
            <td th:text="${comercial.comision}">0</td>
        </tr>
        <tr>
            <th style="text-align: left;" th:text="#{comerciales.tabla.total}">Total:</th>
            <td th:text="${totalPedidos}">0</td>
        </tr>
        <tr>
            <th style="text-align: left;" th:text="#{comerciales.tabla.media}">Media:</th>
            <td th:text="${mediaPedidos}">0</td>
        </tr>
    </table>

    <!-- Sección para mostrar la lista de pedidos -->
    <div style="margin-top: 6px" class="clearfix">
        <div th:text="#{det.pedidos}" style="float: left;width: 50%">
            Pedidos
        </div>
        <div style="float: none;width: auto;overflow: hidden;">
            <div style="border: solid 1px grey; border-radius: 15px; margin-top: 10px; padding: 5px 10px 10px 10px; width: 200px"
                 th:each="pedidoDTO : ${pedidosDTO}">

                <p th:text="${pedidoDTO.getFecha()}">Fecha</p>
                <p th:text="${pedidoDTO.getTotal()} + ' €'">Total</p>
                <a th:href="@{/clientes/__${pedidoDTO.getIdCliente()}__}" th:text="${pedidoDTO.getNombreCliente()}" target="_blank">Cliente</a>
            </div>
        </div>
        <div th:if="${pedidosDTO.isEmpty()}" style="float: none;width: auto;overflow: hidden;">
            <p th:text="#{det.noHayPedidos}">No hay pedidos</p>
        </div>
    </div>

    <!-- Botón para volver -->
    <div style="margin-top: 20px;">
        <a th:href="@{/comerciales}" th:text="#{comerciales.accion.cancelar}">Volver</a>
    </div>
</div>
</body>
</html>