<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{clientes.editar}">Editar Cliente</title>
</head>
<body>
<div>
    <h1 th:text="#{clientes.editar}">Editar Cliente</h1>

    <form th:action="@{/clientes/editar/__${cliente.id}__}" th:object="${cliente}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label th:text="#{nombre}">Nombre:</label>
        <input th:field="*{nombre}" />
        <p style="color:red;" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
    </div>

    <div>
        <label th:text="#{apellido1}">Primer Apellido:</label>
        <input th:field="*{apellido1}" />
        <p style="color:red;" th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}"></p>
    </div>

    <div>
        <label th:text="#{apellido2}">Segundo Apellido:</label>
        <input th:field="*{apellido2}" />
    </div>

    <div>
        <label th:text="#{ciudad}">Ciudad:</label>
        <input th:field="*{ciudad}" />
        <p style="color:red;" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></p>
    </div>

    <div>
        <label th:text="#{categoria}">Categoría:</label>
        <input th:field="*{categoria}" />
        <p style="color:red;" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></p>
    </div>

    <button type="submit" th:text="#{guardar}">Guardar</button>
    <a th:href="@{/clientes}" th:text="#{cancelar}">Cancelar</a>
</form>

</div>
</body>
</html>
